/* 全体の枠線 */
body {
  border: 2px black solid;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* ヘッダー */
header {
  text-align: center;
  border-bottom: 2px black solid;
}


/* 表示場所 */

/* アカウント登録確認画面 */
h1 {
  clear: both;
  font-size: 20px;
  padding-left: 40px;
}

.box {
  line-height: 2;
  padding-left: 300px;
}

/* 名前・カナ・パスワード */
.name1, .name2, .name3, .name4, .password {
  margin-left: 130px;
}

/* パスワード */
.mail {
  margin-left: 100px;
}

/* 性別 */
.gender {
  margin-left: 180px;
}

/* 郵便番号 */
.postal {
  margin-left: 150px;
}

/* 都道府県（住所） */
.prefecture {
  margin-left: 90px;
}

/* 都道府県（市町村） */
.address1 {
  margin-left: 80px;
}

/* 都道府県（番地） */
.address2 {
  margin-left: 110px;
}

.authority {
  margin-left: 100px;
}

/* 送信ボタン */
.button1 {
  float: left;
  margin-top: 20px;
  margin-left: 350px;
  background-color: white;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

/* 戻るボタン */
.button2 {
  margin-top: 20px;
  margin-left: 40px;
  background-color: white;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

/* フッター */
footer {
  text-align: center;
  border-top: 2px solid black;
  margin-top: 30px;
  padding-top: 10px;
}