/* 全体の枠線 */
body {
  border: 2px solid black;
  width: 60%;
  height: 400px;
  position: relative;
  left: 300px;
}

h1 {
    padding-left: 60px;
    font-size: 15px;
}

.main p {
  text-align: center;
}

/* ヘッダー */
.header {
  text-align: center;
  border-bottom: 2px solid black;
}

/* フッター */
.footer {
  text-align: center;
  border-top: 2px solid black;
}