/* 全体の枠線 */
body {
  border: 1px solid gray;
  width: 60%;
  height: 600px;
  margin-left: 20%;
} 

/* ヘッダー */
header {
  border-bottom: 1px solid gray;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* mainの中身 */
h1 {
  font-size: 20px;
  padding-left: 50px;
}

div label {
  padding-left: 300px;
}

div {
  margin-bottom: 10px;
}

.text, .password {
  margin-left: 100px;
}

.mail {
  margin-left: 70px;
}

.radio1 {
  margin-left: 150px;
}

.radio2 {
  margin-left: 30px;
}

select {
  margin-left: 100px;
}

.submit {
  margin-left: 410px;
  border: 1px solid gray;
  width: 150px;
  color: black;
  background-color: white;
}

footer {
  text-align: center;
  border-top: 1px solid gray;
  padding-top: 6px;
}