/* 全体の枠線 */
body {
  border: 1px solid gray;
  width: 60%;
  height: auto;
  position: relative;
  left: 300px;
} 

/* ヘッダー */
.header {
  text-align: center;
  border-bottom: 1px solid gray;
}

/* 入力フォーム */
h1 {
  font-size: 15px;
  padding-left: 30px;
  position: relative;
  left: 50px;
}

form .info_btn {
  text-align: center;
  padding-left: 30%; 
}

label {
  padding-top: 20px; 
  padding-left: 30%;
  padding-right: 40px;
  text-align: left;
}

/* フッター */
.footer {
  text-align: center;
  border-top: 1px solid gray;
}