/* 全体の枠線 */
body {
  border: 2px solid black;
  width: 60%;
  height: auto;
  position: relative;
  left: 300px;
}

/* ヘッダー */
.header {
  text-align: center;
  border-bottom: 2px solid black;
}

/* 入力フォーム */
h1 {
  font-size: 15px;
  padding-left: 30px;
  position: relative;
  left: 50px;
}

form {
  text-align: center;
}



/* フッター */
.footer {
  text-align: center;
  border-top: 2px solid black;
}