/* 全体の枠線 */
body {
  border: 2px black solid;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* ヘッダー */
header {
  text-align: center;
  border-bottom: 2px black solid;
}

h1 {
  font-size: 15px;
  margin-left: 20px;

}

/* アカウント一覧 */
#user_list {
  text-align: center;
  width: 80%;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 10%;
  white-space: nowrap;
}

/* ボタンのデザイン */
#user_list form {
    display: inline-block;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

/* フッター */
footer {
  text-align: center;
  border-top: 2px solid black;
  margin-top: 30px;
  padding-top: 10px;
}